absl-py==1.4.0
ai-edge-litert==1.1.2
aiohappyeyeballs==2.6.1
aiohttp==3.11.13
aiosignal==1.3.2
alembic==1.15.1
array_record==0.6.0
asttokens==3.0.0
astunparse==1.6.3
attrs==23.2.0
Babel==2.10.3
banal==1.0.6
bcc==0.29.1
bleach==6.2.0
blinker==1.9.0
Brlapi==0.8.5
Brotli==1.1.0
cachetools==5.5.2
certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.6
cloud-init==24.4
colorama==0.4.6
comm==0.2.2
command-not-found==0.3
configobj==5.0.8
contourpy==1.3.1
cryptography==41.0.7
cupshelpers==1.0
cycler==0.12.1
Cython==3.0.12
dataset==1.6.2
datasets==3.3.2
dbus-python==1.3.2
debugpy==1.8.13
decorator==5.2.1
defer==1.0.6
dill==0.3.8
distro==1.9.0
distro-info==1.7+build1
dm-tree==0.1.9
docstring_parser==0.16
etils==1.12.0
executing==2.2.0
filelock==3.17.0
Flask==3.1.0
flatbuffers==25.2.10
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2024.12.0
gast==0.6.0
gin-config==0.5.0
google-api-core==2.24.1
google-api-python-client==2.162.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-pasta==0.2.0
googleapis-common-protos==1.68.0
greenlet==3.1.1
grpcio==1.70.0
h5py==3.13.0
httplib2==0.20.4
huggingface-hub==0.29.3
idna==3.6
immutabledict==4.2.1
importlib_resources==6.5.2
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.2
joblib==1.4.2
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.10.3
jupyter_client==8.6.3
jupyter_core==5.7.2
kaggle==1.6.17
keras==3.8.0
kiwisolver==1.4.8
language-selector==0.1
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
libclang==18.1.1
louis==3.29.0
lxml==5.3.1
Mako==1.3.9
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.4.1
multidict==6.1.0
multiprocess==0.70.16
mutagen==1.46.0
namex==0.0.8
nest-asyncio==1.6.0
netaddr==0.8.0
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
olefile==0.46
opencv-python-headless==4.11.0.86
opt_einsum==3.4.0
optree==0.14.0
packaging==24.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.3.6
portalocker==3.1.1
promise==2.3
prompt_toolkit==3.0.50
propcache==0.3.0
proto-plus==1.26.0
protobuf==5.29.3
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycairo==1.25.1
pycocotools==2.0.8
pycryptodomex==3.20.0
pycups==2.0.1
Pygments==2.17.2
PyGObject==3.48.2
PyJWT==2.7.0
pyparsing==3.1.1
PyQt6==6.8.1
PyQt6-Qt6==6.8.2
PyQt6_sip==13.10.0
pyrsistent==0.20.0
pyserial==3.5
python-apt==2.7.7+ubuntu4
python-dateutil==2.8.2
python-debian==0.1.49+ubuntu2
python-slugify==8.0.4
pytz==2024.1
pyxdg==0.28
PyYAML==6.0.1
pyzmq==26.3.0
regex==2024.11.6
requests==2.32.3
rich==13.7.1
rsa==4.9
sacrebleu==2.5.1
scikit-learn==1.6.1
scipy==1.15.2
screen-resolution-extra==0.0.0
sentencepiece==0.2.0
seqeval==1.2.2
setuptools==68.1.2
simple-parsing==0.1.7
six==1.16.0
SQLAlchemy==1.4.54
stack-data==0.6.3
systemd-python==235
tabulate==0.9.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-datasets==4.9.7
tensorflow-hub==0.16.1
tensorflow-metadata==1.16.1
tensorflow-model-optimization==0.8.0
tensorflow-text==2.18.1
termcolor==2.5.0
text-unidecode==1.3
tf-models-official==2.18.0
tf-slim==1.1.0
tf_keras==2.18.0
threadpoolctl==3.5.0
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2025.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.2
unattended-upgrades==0.1
uritemplate==4.1.1
urllib3==2.0.7
wadllib==1.3.6
wcwidth==0.2.13
webencodings==0.5.1
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.42.0
wrapt==1.17.2
xdg==5
xkit==0.0.0
xxhash==3.5.0
yarl==1.18.3
yt-dlp==2024.4.9
zipp==3.21.0
